/*Bu dosya, yazıların ve başlıkların animasyonlu bir şekilde görünmesini sağlar. 
   Ayrıca, parallax arka plan ve manyetik efektler için stiller de içerir. */


.animated-name {
    font-size: 5rem;
    font-weight: 700;
    font-family: var(--font-family-title);
    letter-spacing: 1px;
    line-height: 1.2;
    color: var(--text-color);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing-name 2s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
}

.animated-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing-title 3s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
}

@keyframes typing-name {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes typing-title {
    from {
        width: 0
    }

    to {
        width: 70%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--secondary-color)
    }
}